.autoprecode {
  margin-top: 10px;
  float: left;
  clear: left;
  width: 100%;
  margin: 20px 0px;
}
.autoprecode .link {
  float: left;
  clear: left;
  width: 100%;
  text-align: center;
  padding: 5px;
  cursor: pointer;
}
.autoprecode pre {
  font-size: 0.8em;
  padding: 6px;
  margin-top: 20px;
}
.autoprecode pre .static {
  float: left;
  clear: left;
  width: 100%;
}
.autoprecode pre .hide {
  display: none;
}
